/* @theme minimal_4_3 */

@import "default";

section {    
  font-family: "Arial", "Hiragino Kaku Gothic ProN";    
}

section h1, h2 {
  padding: 0.5em 0.7em;
  background: whitesmoke;
  border-left: double 7px #4ec4d3;  
}

section.title {
  font-size: 22px;
}

section.title h1 {
  font-size: 2.4em;    
}

section.slide {
  font-size: 20px;
  justify-content: start;
}

section.slide h2 {
  font-size: 1.6em;      
  justify-content: start;
}

section.lead {
  justify-content: center;
  text-align: center;
}

section.caption p {
  text-align: center;
}

section.caption table {
  margin-bottom: 1.7em;
}

/* page number */
section::after {
  font-size: 15px;
}

/* Reset table styling provided by theme */
/* table, tr, td, th {
  all: unset;
} */

table { display: table; }
tr { display: table-row; }
td, th { display: table-cell; }

/* ...and layout freely :) */
table {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
tr, td, th {
  text-align: center;
  vertical-align: middle;
}